RepositorioGIT_NET/201216064/SOAPServicesTest/Service References/SolicitudesWS/Solicitudes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4765/Solicitudes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JavaNetServices.Dominio" />
  <xs:element name="CrearSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codProyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JavaNetServices.Dominio" minOccurs="0" name="CrearSolicitudResult" nillable="true" type="q1:Solicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSolicitudDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="cantidadColabor" type="xs:int" />
        <xs:element minOccurs="0" name="codPerfil" type="xs:int" />
        <xs:element minOccurs="0" name="codTecnologia" type="xs:int" />
        <xs:element minOccurs="0" name="codExperienciaRubro" type="xs:int" />
        <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSolicitudDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JavaNetServices.Dominio" minOccurs="0" name="CrearSolicitudDetalleResult" nillable="true" type="q2:SolicitudDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JavaNetServices.Dominio" minOccurs="0" name="ObtenerSolicitudResult" nillable="true" type="q3:Solicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="codProyecto" type="xs:int" />
        <xs:element minOccurs="0" name="cantidadColabor" type="xs:int" />
        <xs:element minOccurs="0" name="codPerfil" type="xs:int" />
        <xs:element minOccurs="0" name="codTecnologia" type="xs:int" />
        <xs:element minOccurs="0" name="codExperienciaRubro" type="xs:int" />
        <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JavaNetServices.Dominio" minOccurs="0" name="ModificarSolicitudResult" nillable="true" type="q4:Solicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSolicitudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitudes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitudesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JavaNetServices.Dominio" minOccurs="0" name="ListarSolicitudesResult" nillable="true" type="q5:ArrayOfSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>