RepositorioGIT_NET/201216064/SOAPServicesTest/Service References/SolicitudesWS/Solicitudes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Solicitudes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4765/Solicitudes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4765/Solicitudes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4765/Solicitudes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JavaNetServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISolicitudes_CrearSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudes_CrearSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudes_CrearSolicitudDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearSolicitudDetalle" />
  </wsdl:message>
  <wsdl:message name="ISolicitudes_CrearSolicitudDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearSolicitudDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudes_ObtenerSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudes_ObtenerSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudes_ModificarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudes_ModificarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudes_EliminarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudes_EliminarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudes_ListarSolicitudes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitudes" />
  </wsdl:message>
  <wsdl:message name="ISolicitudes_ListarSolicitudes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitudesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISolicitudes">
    <wsdl:operation name="CrearSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudes/CrearSolicitud" message="tns:ISolicitudes_CrearSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudes/CrearSolicitudResponse" message="tns:ISolicitudes_CrearSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearSolicitudDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudes/CrearSolicitudDetalle" message="tns:ISolicitudes_CrearSolicitudDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudes/CrearSolicitudDetalleResponse" message="tns:ISolicitudes_CrearSolicitudDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudes/ObtenerSolicitud" message="tns:ISolicitudes_ObtenerSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudes/ObtenerSolicitudResponse" message="tns:ISolicitudes_ObtenerSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudes/ModificarSolicitud" message="tns:ISolicitudes_ModificarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudes/ModificarSolicitudResponse" message="tns:ISolicitudes_ModificarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudes/EliminarSolicitud" message="tns:ISolicitudes_EliminarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudes/EliminarSolicitudResponse" message="tns:ISolicitudes_EliminarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSolicitudes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudes/ListarSolicitudes" message="tns:ISolicitudes_ListarSolicitudes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudes/ListarSolicitudesResponse" message="tns:ISolicitudes_ListarSolicitudes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISolicitudes" type="tns:ISolicitudes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudes/CrearSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearSolicitudDetalle">
      <soap:operation soapAction="http://tempuri.org/ISolicitudes/CrearSolicitudDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudes/ObtenerSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudes/ModificarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudes/EliminarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSolicitudes">
      <soap:operation soapAction="http://tempuri.org/ISolicitudes/ListarSolicitudes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Solicitudes">
    <wsdl:port name="BasicHttpBinding_ISolicitudes" binding="tns:BasicHttpBinding_ISolicitudes">
      <soap:address location="http://localhost:4765/Solicitudes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>