201216064/TestGeneracionSolicitud/Service References/ServiceReference1/CrearSolicitud1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40512/CrearSolicitud.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SolicitudService.Dominio" />
  <xs:element name="GenerarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codCliente" type="xs:int" />
        <xs:element minOccurs="0" name="codProyecto" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SolicitudService.Dominio" minOccurs="0" name="detalleSolicitud" nillable="true" type="q1:ArrayOfSolicitudDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarSolicitudResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>