201216064/SOAPServicesTest/Service References/GeneracionSolicitudWS/CrearSolicitud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SolicitudService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SolicitudService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSolicitudDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudDetalle" nillable="true" type="tns:SolicitudDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudDetalle" nillable="true" type="tns:ArrayOfSolicitudDetalle" />
  <xs:complexType name="SolicitudDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadColabor" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Comentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="codExperienciaRubro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codPerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codTecnologia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudDetalle" nillable="true" type="tns:SolicitudDetalle" />
  <xs:complexType name="MyExcepcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Messsage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyExcepcion" nillable="true" type="tns:MyExcepcion" />
</xs:schema>